<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenEMRSuite">
	<!-- suite level parameter -->
	<parameter name="browser" value="ch"></parameter>

	<test thread-count="5" name="Login Test">
		<!-- test level parameter -->
		<parameter name="browser" value="ff"></parameter>
		<classes>
			<class name="com.tieto.test.LoginTest">
				<methods>
					<include name="checkLinkCount"></include>
					<!-- all methods having text valid will be executed <include name="valid.*"></include> -->
					<!-- all methods having text invalid will be executed <include name=".*invalid"></include> -->
					<!-- <exclude name=""></exclude> -->
				</methods>
			</class>
		</classes>
	</test> <!-- Login Test -->
	<!-- <test thread-count="5" name="Patient Test"> -->
	<!-- <classes> -->
	<!-- <class name="com.tieto.test.AddPatientTest" /> -->
	<!-- </classes> -->
	<!-- </test> Patient Test -->
</suite> <!-- OpenEMRSuite -->
